## 집합

In [21]:
s1 = set()
s2 = {3, 4, 5}
word = "Hello" * 2
print(word)
word_list = list(word)
print(word_list)
s3 = set(word_list)
print(s3)
s4 = set('Hello')
print(s4)

In [24]:
s = {1, 2, 3, 4, 5, 3, 4}

s.add(10)
print(s)

s.remove(2)
print(s)

s.update([1,3,5,7,9])
print(s)

s.discard(7)
print(s)

s.clear()
print(s)

{1, 2, 3, 4, 5, 10}
{1, 3, 4, 5, 10}
{1, 3, 4, 5, 7, 9, 10}
{1, 3, 4, 5, 9, 10}
set()

In [28]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = s1.union(s2)
print(s3)

s3 = s1 | s2
print(s3)

s4 = s1.intersection(s2)
print(s4)

s4 = s1 & s2
print(s4)

s5 = s1.difference(s2)
print(s5)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{3}
{1, 2}

 ## 실습1
 1부터 100까지 숫자 중 3과 5의 공배수를 집합 형태로 만들어 아래와 같이 출력하시오. (단, 집합의 원소 출력 순서는 다를 수 있음)

In [1]:
s3, s5 = set(), set()

s3 = set([i for i in range(3, 101, 3)])
s5 = set([i for i in range(5, 101, 5)])

# for i in range(100):
#     if(i % 3 == 0) : s3.add(i)
#     if(i % 5 == 0) : s5.add(i)

s = s3 & s5
print(s)
print("3과 5의 공배수: ", len(s), "개")

{75, 45, 15, 90, 60, 30}
3과 5의 공배수:  6 개

In [8]:
d = {}

# key: 'kim', value: 1
d['kim'] = 1

# key: 'park', value: 2
d['park'] = 2

print(d)

# 'kim': 1-> 3
d['kim'] = 3

print(d)

print(d.keys())

{'kim': 1, 'park': 2}
{'kim': 3, 'park': 2}
dict_keys(['kim', 'park'])

In [9]:
d = {}
d['kim'] = 1 # 새 항목 추가
d['park'] = 2 # 새 항목 추가
print(d)

d['park'] # 키(key)를 사용하여 값에 접근

d['kim'] = 3 # 이미 있는 키의 경우 기존 값 변경
print(d)

d['youn'] = 1 # 새 항목 추가
print(d)

{'kim': 1, 'park': 2}
{'kim': 3, 'park': 2}
{'kim': 3, 'park': 2, 'youn': 1}

In [13]:
d.keys() # 키만 추출
d.values() # 값만 추출
d.items() # 키와 값의 항목을 튜플 형태로
'kim' in d # 딕셔너리에 키가 있는 경우
del d['kim'] # 항목 삭제
d.clear() # 전체 삭제

KeyError: 'kim'

 ## 실습2 - 딕셔너리
 for 문을 사용하여 아래 딕셔너리 d의 모든 value를 출력해 보세요.

In [3]:
d = {'kim': 3, 'park': 2, 'youn': 1}
for value in d:
    print(d[value], end = ' ')

3 2 1

In [4]:
d = {'kim': 3, 'park': 2, 'youn': 1}

for k,v in d.items():
    print(k)
    print(v)

kim
3
park
2
youn
1

## 실습3 - 딕셔너리
어떤 문장을 입력 받으면 해당 문장에서 각 문자가 몇 개씩 나오는지 저장하는 딕셔너리를 만든 후, 아래와 같이 출력하시오.

In [5]:
print("Enter a sentence: ")
s = input()

sentence = dict()
for value in s:
    if value not in sentence:
        sentence[value] = 1
    elif value in sentence:
        sentence[value] += 1
print(sentence)

Enter a sentence:
Python is fun!
{'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 2, ' ': 2, 'i': 1, 's': 1, 'f': 1, 'u': 1, '!': 1}

In [14]:
s = input("Enter a sentence: ")

l = list(set(s))

d = {}

for k in l:
    c = s.count(k)
    d[k] = c
    
print(d)

Enter a sentence: Python is fun!
{'o': 1, 't': 1, 'f': 1, '!': 1, 'n': 2, 'h': 1, 'i': 1, 's': 1, 'P': 1, ' ': 2, 'y': 1, 'u': 1}

In [17]:
L = [i ** 2 for i in range(1, 6)] # i: 1, 2, 3, 4, 5

print(L)

L = [i for i in range(1, 6) if i%2 == 0] # i: 1, 2, 3, 4, 5
print(L)

L1 = [1, 2, 3]
L2 = [3, 4, 5]

L3 = [x*y for x in L1 for y in L2]
print(L3)

p = False #(Boolean)

print('A') if p else print('B')

[1, 4, 9, 16, 25]
[2, 4]
[3, 4, 5, 6, 8, 10, 9, 12, 15]
B

In [19]:
L1 = [1, 2, 3]
L2 = [4, 5, 6]
L3 = ['a', 'b', 'c']

print(list(zip(L1, L2, L3)))

print([sum(x) for x in zip((1,2,3), (4,5,6))])
# zip -> [(1, 4), (2, 5), (3, 6)]
# x -> (1, 4)
# x -> (2, 5)
# x -> (3, 6)

[(1, 4, 'a'), (2, 5, 'b'), (3, 6, 'c')]

## 실습4
아래와 같이 주어진 2개의 리스트로 딕셔너리를 만들어 출력하시오. 단, 순서는 다를 수 있음

In [20]:
L1 = ['one', 'two', 'three', 'four']
L2 = [1, 2, 3, 4]
s = dict()

for comb in zip(L1, L2):
    s[comb[0]] = comb[1]

print(s)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [23]:
L1 = ['one', 'two', 'three', 'four']
L2 = [1, 2, 3, 4]

L3 = dict(zip(L1, L2))
print(L3)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [25]:
L1 = ['one', 'two', 'three', 'four']
L2 = [1, 2, 3, 4]

L3 = list(zip(L1, L2))
print(L3)

d = {}

for k, v in L3:
    d[k] = v
print(d)

[('one', 1), ('two', 2), ('three', 3), ('four', 4)]
{'one': 1, 'two': 2, 'three': 3, 'four': 4}